*{
    margin: 0;
    box-sizing: border-box;
}
#logo{
    height: 100px;
    width: 100px;
}
#logo2{
    height: 200px;
    width: 200px;
}
#navbar1{
    background-color: #001d3d;
}
#navbar2{
    background-color: #001d3d;
    font-size: 20px;
    color: #ffd60a;
}
body{
    background-color: #003566;
}
label{
    color: #ffd60a;
}
#despro{
    background-color: #ffc300;
}
#redes{
    height: 50px;
    width: 50px;
}
#cuerpo{
    margin: 60px;
    background-color: #003566;
}
#formulario{
    margin: 20px;
}
#logmain{
    background-image: url("https://i.pinimg.com/originals/2f/db/80/2fdb80a1219c99ea0c59d82aede974e9.jpg");
    background-size:cover;
}
#formulario2{
    margin: 2px;
}
#btnlog{
    margin: 5px;
}
.btn{
    background-color: #003566;
    color: #ffd60a;
}

#imagprod{
    width: 350px;
    height: 450px;
}
.card{
    background-color: lightblue;
    width: 22rem;
    margin: 10px;
}
#btnnavbar{
    background-color: #ffd60a;
}
